
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.first{
    display: flex;
    /* align-content: space-between; */
    /* margin: 10px; */
 
    justify-content: space-between;
    margin: 0px 100px 0 100px;
    text-align: center;
}
.heading-title{
  color: #0E0E0E ; 
  font-size: 36px;
  font-weight: bold;

}
ul li{
    list-style: none;
}
.sign{
    padding: 20px 10px;
    color: #006A50;
    font-size: 18px;
    margin-top: 17px;
    text-align: center;
}
.banner-title{
font-size: 50px;
font-weight: 700px;
}
.banner-greet{
   color: #0E0E0E; 
    font-size: 25px;
    
}
.btn-primary{
    font-size: 16px;
    font-weight: 400x;
    color: #FFFFFF;
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
}
.banner{
    /* max-width: 1200px; */
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
     max-width: 1280px;
       padding:115px 60px 115px 60px;
       border-radius: 25px;
       align-items: center;
       margin: auto 100px;
}

.banner-content{
   
  }
  .section-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin: 80px 160px 24px 160px;
  }
  .rifat{
    font-size: 16px;
    color: #0E0E0E;
    margin: 24px 160px 32px 160px;
  }
  .skill-title{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    margin-left: 32px;
    margin-bottom: 12px;
  }
  .skill-description{
    font-size: 16px;
    color: #0E0E0E;
    padding: 24px 32px 40px 32px;
  }
  .rimon{
    font-size: 16px;
    padding: 11px 20px;
    color: #FFFFFF;
    background-color: 5490F5;
    border-radius: 8px;
    border: none;
    margin: 24px 0 32px 32px;
    
  }
  .section-containat{
    display: flex;
    margin: 35px 160px;
    gap: 24px;
  }
  .jakir{
    margin-left: 32px;
    margin-top: 24px;
  }
  .colum{
    background-color: #5a80c2;
    border-radius: 16px;
  }
  .green{
    background-color: #C6E4D6;
    border-radius: 16px;
  }
  .modern{
    background-color: #F7EBCF;
    border-radius: 16px;
  }
  .arafat{
    background-color: #09A15C;
    border-radius: 8px;

  }
  .rahim{

  }
  .ahad{
    background-image: url("../assets/quote-bg.png");
    background-position: top left;
    background-repeat: no-repeat;
    /* padding: 25px 1192px 167px 24px; */
  }
  .soha{
    font-size: 16px;
    color: #0E0E0E;
    /* margin: 80px 184px 0 184px ; */
    padding: 112px 24px 41px 24px;
  }
  .abrity{
    background-color: #FFFFFF;
    margin: 0 160px ;
    margin-top: 32px;
  }
  table{
     margin: 10px 160px 0 160px;
     border-collapse: collapse;
     background-color: #FFFFFF;
     border-radius: 16px;
  }
  .pitha{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin: 80px 160px 0 160px;
  }
  td{
    border: 1px solid black;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400px;
    margin: 0 160px 0 160px;
  }
  .siyam{
    background-color: #C6E4D6;
    margin: 24px 24px;
    font-size: 16px;
    color: #0E0E0E;
    padding: 12.5px 52.5px 12.5px 16.5px ;
    font-size: 16px;
    border-radius: 4px;

  }
  .r{
margin-left: 0px;
  }
  tbody {
    align-content: center;
    
  }
  .mobile{
    padding: 36.5px 330px 36.5px 24px;
  }
    table th{
      background-color: #C6E4D6;
      font-size: 20px;
      font-weight: 400px;
padding: 20px 20px;
 border: 1px solid black;
      justify-content: space-between;
    }
.malai{
font-size: 16px;
color: #0E0E0E;
margin: 24px 160px ;
}
.anamul{
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
  background-color: #cebebe;
  margin: 32px 160px 24px 160px;
  padding: 40px 40px;
  border-radius: 24px;
  
}
.anaros{
  margin-left: 30px;
}
.lala{
  margin-left: 0px;
  
}
.nac{
  border-radius: 23px;
}
  .paleyar{
    font-size: 30px;
    font-weight: bold;
    color: #0E0E0E;
    
  }
  .mani{
    font-size: 16px;
    color: #0E0E0E;

  }
  .sata{
    display: flex;
     gap: 30px;
  background-color: #cfcaca;
  margin: 32px 160px 24px 160px;
  padding: 40px 40px;
  border-radius: 24px;
  }
  .pooki{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    text-align: center;
  }
  .magic{
    font-size: 16px;
    color: #0E0E0E;
    /* margin: 20px 20px; */
    text-align: center;
  }
  .parent{
    /* background-color: #F7EBCF; */
    /* padding: 25px; */
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    margin: 30px;
  }
  .child{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
display: inline;
border-radius: 16px;
margin: 0 10px;
background-color: #b6a9a9;
padding: 40px 40px;


/* margin: 0 104px 0 264px; */
  }
  .nayka{
    background-color: #C6E4D6;
  }
  .tex{
    text-align: center;
    font-size: 20px;
    margin: 32px 124px 24px 70px;
    padding: 20px;
  }
  .niki{
    font-size: 16px;
    color: #FFFFFF;
    padding: 17px 32px;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    margin: 32px 560.5px  80px 750.5px;
  }
  .nimki{
    text-align: center;
  }
  .pera{
    font-size: 16px;
    color: #0E0E0E;

  }
  footer input[type="search"]{
    font-size: 18px;
  font-weight: 400;
  height: 55;
    padding: 17px 30px;
    background-color: #006A50;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    padding: 17px 34px;
    
  }
  .nimki{
    background-color: #C6E4D6;
    padding: 80px 80px;
  }
  footer input[type="email"]{
    height: 55;
    padding: 18px 403px 18px 40px;
    border-radius: 5px;
    margin-right: 0;
    border: none;
  }
  footer form{
    gap: 0;
    
    
  }